<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Words Counter</title>
</head>

<body>
    <div style="float: left; width: 45%; text-align: center ">
        <form action="countWords" method="post" enctype="multipart/form-data">
            <div>
                <label for="input" style="font-size: 45px;">Input string/url to get top words in it</label>
                <textarea id="text" name="text" style="width: 500px; height: 150px;"></textarea>
                <br><hr><br>
                <label for="file" style="font-size: 45px;">Upload file to get top words in it</label><br>
                <input type="file" id="file" name="file" style="font-size: 20px;">
                <br><hr><br>
            </div>
            <input type="submit" text="Submit" style="font-size: 20px">
        </form>
    </div>

    <div style="float: right; width: 45%; text-align: center; ">
        <h1 th:text=" ${count} ? 'Top 10 words (out of ' + ${count} + '):' : ''"></h1>
        <p th:each="count : ${countTopTen}" th:text="${count.key} + ' : ' + ${count.value}"></p>
    </div>
</body>

</html>